# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env

# Archivos de configuración locales
*.db
*.sqlite3

# Archivos de Excel y CSV generados
*.xlsx
*.csv

# Archivos temporales
*.log
*.tmp
*.bak

# Archivos y carpetas generados por PyInstaller
/build/
/dist/
*.spec
*.exe

# Archivos de sistema
*.DS_Store
Thumbs.db

# Archivos de configuración de VS Code (opcional)
.vscode/